/*  ----------------------------------------  */
/* Feuille de style KaTZ-Pit  KA50          */
/* Définir dans BODY, le motif d'arrière plan */
/* Définir pour chaque Panel :                */ 
/*  - La position sur la feuille              */
/*  - Le formatage des affichage numériques : */
/*     # Font                                 */
/*     # Couleur                              */
/*     # Alignement ...                       */
/*  ----------------------------------------  */



html{
	font-size: 100%;
}


body {
	background-color: #333333; 
	/*background-image: url(Z_Carbon4.gif);*/
	margin: 5px 5px 5px 5px;
	
	font-family: arial, sans-serif;
	font-size: 100%;
	color: #FFFF33;
	text-align: left;
}

p {
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: left;
	margin-left:5px;
	margin-right:5px;
}

/* Jauge Moteur                                              */
/* Pour changer position, ajuster top: et left:              */
/* Pour changer l'affichage des rpm, ajuster font, color ... */

#Panel_Connection_Emergency {
	position: absolute;
	top: 220px;
	left: 10px;
	/* Dimension 100 x 775			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Launcher {

	position: absolute;
	top: 10px;
	left: 1900px;
	/* Dimension 100 x 775			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Stick {

	position: absolute;
	top: 860px;
	left: 1580px;
	/* Dimension 300 x 300			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Cadran_Vario {
	position: absolute;
	top: 020px;
	left: 680px;
	/* Dimension 400 x 400			              */
}

#Cadran_AltiRad {
	position: absolute;
	top: 230px;
	left: 120px;
	/* Dimension 400 x 400			              */
}

#Cadran_AirSpeed {
	position: absolute;
	top: 230px;
	left: 430px;
	/* Dimension 400 x 400			              */
}

#Cadran_RPM {
	position: absolute;
	top: 550px;
	left: 120px;
	/* Dimension 400 x 400			              */
}

#Cadran_Altitude {
	position: absolute;
	top: 550px;
	left: 430px;
	/* Dimension 400 x 400			              */
}

#Cadran_Clock {
	position: absolute;
	top: 870px;
	left: 120px;
	/* Dimension 400 x 400			              */
}

#Cadran_Pitch {
	position: absolute;
	top: 900px;
	left: 480px;
	/* left: 500px; */
	/* Dimension 400 x 400			              */
}


#Cadran_ADI {
	position: absolute;
	top: 330px;
	left: 720px;
	/* Dimension 400 x 400			              */
	text-align: center; 
}


#Cadran_HSI {
	position: absolute;
	top: 780px;
	left: 720px;
	/* Dimension 400 x 400			              */
}

#Cadran_EngExTemp{
	position: absolute;
	top: 220px;
	left: 1580px;
	/* Dimension 400 x 400			              */
}

#Cadran_RPM2 {
	position: absolute;
	top: 540px;
	left: 1580px;
	/* Dimension 400 x 400			              */
}

#Cadran_Fuel {
	position: absolute;
	top: 860px;
	left: 1610px;
	/* Dimension 400 x 400			              */
}



#Panel_Datalink {
	position: absolute;
	top: 010px;
	left: 340px;
	/* Dimension 320 x 200			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Target {
	position: absolute;
	top: 010px;
	left: 2010px;
	/* Dimension 775 x 10			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Radio {
	position: absolute;
	top: 10px;
	left: 10px;
	/* Dimension 775 x 10			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Rotor {
	position: absolute;
	top: 010px;
	left: 1000px;
	/* Dimension 775 x 10			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Navigation {
	position: absolute;
	top: 350px;
	left: 800px;
	/* Dimension 775 x 10			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Pilototo {
	position: absolute;
	top: 10px;
	left: 2520px;
	/* Dimension 775 x 10			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Oil {
	position: absolute;
	top: 010px;
	left: 1500px;
	/* Dimension 775 x 10			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}



#Panel_Start {
	position: absolute;
	top: 220px;
	left: 2010px;
	/* Dimension 775 x 400			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Electric {
	position: absolute;
	top: 220px;
	left: 2600px;
	/* Dimension 400 x 400			              */
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: center; 

}

#Panel_Abris {
	position: absolute;
	top: 1020px;
	left: 2010px;
	/* Dimension 500 x 180			              */
	font-family:arial, sans-serif;
	font-size:120%;
	color:white;
	text-align: center;
	
}

#Panel_PVI800 {
	position: absolute;
	top: 240px;
	left: 1150px;
	/* Dimension 500 x 180			              */
	font-family:arial, sans-serif;
		
}

#Panel_DLINK_Select {
	position: absolute;
	top: 1000px;
	left: 1150px;
	/* Dimension 500 x 180			              */
	font-family:arial, sans-serif;
		
}


#Panel_Weapon {
	position: absolute;
	top: 220px;
	left: 2010px;
	/* Dimension 500 x 480			              */
	
}

#Panel_Weapon_2 {
	position: absolute;
	top: 710px;
	left: 2010px;
	/* Dimension 500 x 300			              */
	
}

#Panel_Shkval {
	position: absolute;
	top: 010px;
	left: 2010px;
	/* Dimension 500 x 200			              */
	
}


#Panel_UV26 {
	position: absolute;
	top: 220px;
	left: 2520px;
	/* Dimension 500 x 200			              */
	
}

#Panel_Light {
	position: absolute;
	top: 010px;
	left: 2010px;
	/* Dimension 500 x 200			              */
	
}


#Panel_Doc {
	position: absolute;
	top: 100px;
	left: 2100px;
	/* Dimension 500 x 200			              */
	
}

#Panel_Target {
	position: absolute;
	top: 220px;
	left: 2780px;

	font-family:arial, sans-serif;
	text-align: center; 
}




