/*  ----------------------------------------  */
/* Feuille de style KaTZ-Pit Mig-29           */
/* Définir dans BODY, le motif d'arrière plan */
/* Définir pour chaque Panel :                */ 
/*  - La position sur la feuille              */
/*  - Le formatage des affichage numériques : */
/*     # Font                                 */
/*     # Couleur                              */
/*     # Alignement ...                       */
/*  ----------------------------------------  */



html{
	font-size: 100%;
}


body {
	background-color: #FF0033; 
	background-image: url(Z_Carbon4.gif);
	margin: 5px 5px 5px 5px;
	
	font-family: arial, sans-serif;
	font-size: 100%;
	color: #FFFF33;
	text-align: left;
}

p {
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: left;
	margin-left:5px;
	margin-right:5px;
}

/* Jauge Moteur                                              */
/* Pour changer position, ajuster top: et left:              */
/* Pour changer l'affichage des rpm, ajuster font, color ... */

Panel_Emergency_style {
	position: absolute;
	top: 0px;
	left: 0px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Light_style {
	position: absolute;
	top: 0px;
	left: 100px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Attitude_style {
	position: absolute;
	top: 60px;
	left: 100px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Motor_style {
	position: absolute;
	top: 260px;
	left: 100px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Fuel_style {
	position: absolute;
	top: 600px;
	left: 100px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Pilototo_style {
	position: absolute;
	top: 0px;
	left: 480px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Navigation_style {
	position: absolute;
	top: 100px;
	left: 480px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Weapon_style {
	position: absolute;
	top: 600px;
	left: 480px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Gear_style {
	position: absolute;
	top: 0px;
	left: 980px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_ILS_style {
	position: absolute;
	top: 160px;
	left: 980px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Detection_style {
	position: absolute;
	top: 620px;
	left: 980px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Target_style {
	position: absolute;
	top: 0px;
	left: 1300px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Radio_style {
	position: absolute;
	top: 410px;
	left: 980px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}

Panel_Vierge_style {
	position: absolute;
	top: 320px;
	left: 1300px;
	
	font-family:arial, sans-serif;
	font-size:100%;
	color:white;
	background-color:transparent;
	text-align: right; 

}
